<footer id="footer">
	<div class="inner">
		<div class="footer-block c-txt__basic">
			<div class="footer-block__logo">
				<a href="<%= RELATIVE_PATH %>" class="footer-logo">
					<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="3CGAME">
				</a>
				<ul class="footer-block__sns">
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-06.png" alt="facebook"></a></li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-07.png" alt="youtube"></a></li>
					<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/common/icon-08.png" alt="instagram"></a></li>
				</ul>
			</div>
			<div class="footer-block__ct">
				<div class="footer-block__ct-item">
					<h3 class="footer-block__ttl">Dịch vụ</h3>
					<ul>
						<li><a href="">Giới thiệu dịch vụ</a></li>
						<li><a href="">Điều khoản sử dụng</a></li>
						<li><a href="">Chính sách bảo mật</a></li>
					</ul>
				</div>
				<div class="footer-block__ct-item">
					<h3 class="footer-block__ttl">Hỗ trợ</h3>
					<ul>
						<li><a href="">Hướng dẫn thanh toán VNPAY</a></li>
						<li><a href="">Hướng dẫn thanh toán Momo</a></li>
						<li><a href="">Hướng dẫn thanh toán Xsolla</a></li>
					</ul>
				</div>
				<div class="footer-block__ct-item">
					<h3 class="footer-block__ttl">Thông tin liên hệ</h3>
					<h4 class="footer-block__ct-ttl">CÔNG TY CỔ PHẦN CÔNG NGHỆ SỐ 3C</h4>
					<div class="footer-block__ct-map">
						TT3-6 Khu đô thị mới Đại Kim, Phường Định Công, Thành phố Hà Nội, Việt Nam
					</div>
					<div class="footer-block__ct-note">
						<p>
							Mã số thuế: 0110641260<br>
							Giấy phép G1: Số 362/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 03/12/2024
						</p>
					</div>
					<div class="footer-block__ct-support">
						<a href="tel:19001168"><img src="<%= RELATIVE_PATH %>img/common/icon-10.png" alt="tel">19001168</a>
						<a href="mailto:support@3cgame.vn"><img src="<%= RELATIVE_PATH %>img/common/icon-11.png" alt="mailto">support@3cgame.vn</a>
					</div>
					<div class="footer-block__ct-nooty">
						<img src="<%= RELATIVE_PATH %>img/common/nooty.png" alt="img">
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="" id="backtop">
		<img src="<%= RELATIVE_PATH %>img/common/top.png" alt="img">
	</a>
</footer>
