<header id="header">
	<div class="header-top">
		<div class="inner">
			<ul class="header-top__item">
				<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/icon-01.png" alt="Tài khoản">Tài khoản</a></li>
				<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/icon-02.png" alt="Trung tâm nạp">Trung tâm nạp</a></li>
				<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/icon-03.png" alt="Hỗ trợ khách hàng">Hỗ trợ khách hàng</a></li>
			</ul>
			<a href="tel:19001168"><img src="<%= RELATIVE_PATH %>img/common/icon-04.png" alt="19001168">19001168</a>
		</div>
	</div>
	<div class="header-show">
		<div class="inner">
			<a href="<%= RELATIVE_PATH %>" class="header-logo">
				<img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="3CGAME">
			</a>
			<nav class="header-nav">
				<ul class="header-nav__menu">
					<li class="header-nav__menu-item">
						<a href="">Về chúng tôi</a>
					</li>
					<li class="header-nav__menu-item">
						<a href="">Trò chơi</a>
					</li>
					<li class="header-nav__menu-item">
						<a href="">Tin tức</a>
					</li>
					<li class="header-nav__menu-item">
						<a href="">Tuyển dụng</a>
					</li>
					<li class="header-nav__menu-item">
						<a href="">Liên hệ</a>
					</li>
				</ul>
			</nav>
			<div class="header-language">
				<span>VI</span>
				<ul>
					<li><a href="">VI</a></li>
					<li><a href="">EN</a></li>
				</ul>
			</div>
		</div>
	</div>
	<span class="js-mobile">
		<span></span>
	</span>
</header>