<div class="popup">
	<div class="popup-bg close-popup"></div>
	<div class="popup-ct popup-ct--game c-txt__basic">
		<div class="popup-ct__close close-popup">
			<img src="<%= RELATIVE_PATH %>img/common/close.png" alt="close">
		</div>
		<h3 class="popup-ct__ttl">
			Chọn game cần hỗ trợ
		</h3>
		<p class="c-al--c mbpc-30 mbsp-20">
			Bạn có thể chọn trò chơi của bạn dưới đây để gửi yêu cầu hỗ trợ
		</p>
		<div class="popup-game">
			<ul class="game-list">
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li><li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>