<main id="page-<%= pageData.template %>">
	<section class="sec-contact">
		<div class="inner">
			<div class="contact-block">
				<div class="contact-block__note">
					<h1 class="contact-block__note-ttl">
						Liên hệ với<br>
						3CGAME
					</h1>
					<p>
						Kết nối với 3C Game<br>
						để được hỗ trợ và giải đáp mọi thắc mắc.
					</p>
					<a href="mailto:support@3cgame.vn">
						<small>Email</small>
						support@3cgame.vn
					</a>
					<a href="tel:19001168">
						<small>Phone:</small>
						19001168
					</a>
					<p>
						<small>Làm việc từ Thứ Hai - Thứ Sáu, <br>9 giờ sáng – 6 giờ chiều (GMT)</small>
					</p>
					<ul class="contact-block__note-sns">
						<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/contact/icon-01.png" alt="img"></a></li>
						<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/contact/icon-02.png" alt="img"></a></li>
						<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/contact/icon-03.png" alt="img"></a></li>
					</ul>
				</div>
				<div class="contact-block__form c-txt__basic">
					<p>
						Kết nối với 3C Game để được hỗ trợ và giải đáp mọi thắc mắc. Chúng tôi luôn sẵn sàng lắng nghe ý kiến đóng góp từ bạn!
					</p>
					<dl>
						<dt>Họ và tên</dt>
						<dd>
							<input type="text" class="form-control" placeholder="Nhập họ và tên của bạn">
						</dd>
					</dl>
					<dl>
						<dt>Email</dt>
						<dd>
							<input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn">
						</dd>
					</dl>
					<dl>
						<dt>Nội dung</dt>
						<dd>
							<textarea class="form-control" placeholder="Nhập nội dung tin nhắn"></textarea>
						</dd>
					</dl>
					<div class="contact-block__form-sub">
						<button type="button" class="c-btn__02 open-popup">Gửi yêu cầu</button>
					</div>
				</div>
			</div>
			<div class="contact-map">
				<img src="<%= RELATIVE_PATH %>img/contact/map.png" alt="img">
			</div>
		</div>
	</section>
	<div class="popup">
		<div class="popup-bg close-popup"></div>
		<div class="popup-ct c-txt__basic">
			<div class="popup-ct__close close-popup">
				<img src="<%= RELATIVE_PATH %>img/common/close.png" alt="close">
			</div>
			<h3 class="popup-ct__ttl"><span class="c-fc--orange">Cảm ơn bạn đã gửi yêu cầu đến 3C Game!</span></h3>
			<p>
				Chúng tôi đã tiếp nhận thông tin của bạn và sẽ phản hồi trong thời gian sớm nhất. Đội ngũ hỗ trợ luôn sẵn sàng lắng nghe và giải đáp mọi thắc mắc của bạn.
			</p>
			<p>
				Vui lòng kiểm tra email hoặc theo dõi các kênh liên hệ đã cung cấp để nhận phản hồi từ chúng tôi.<br>
				Trân trọng cảm ơn!
			</p>
		</div>
	</div>
</main>