<main id="page-<%= pageData.template %>">
	<section class="sec-game">
		<div class="inner">
			<div class="mv-game">
				<div class="mv-game__nav swiper mySwiper2">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="mv-game__nav-img">
								<img src="<%= RELATIVE_PATH %>img/game/banner.jpg" alt="3CGAME">
							</div>
							<div class="mv-game__nav-ct">
								<h2 class="mv-game__nav-ct-ttl">Võ Hiệp Truyền Kỳ 2 Mobile</h2>
								<p>
									Võ Hiệp Truyền Kỳ 2 Mobile là game MMORPG Kiếm Hiệp do 3CGAME phát triển, mang trở lại huyền thoại vang bóng một thời với diện mạo đồ họa mới và lối chơi đặc sắc
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__nav-img">
								<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
							</div>
							<div class="mv-game__nav-ct">
								<h2 class="mv-game__nav-ct-ttl">Võ Hiệp Truyền Kỳ 2 Mobile</h2>
								<p>
									Võ Hiệp Truyền Kỳ 2 Mobile là game MMORPG Kiếm Hiệp do 3CGAME phát triển, mang trở lại huyền thoại vang bóng một thời với diện mạo đồ họa mới và lối chơi đặc sắc
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__nav-img">
								<img src="<%= RELATIVE_PATH %>img/game/banner.jpg" alt="3CGAME">
							</div>
							<div class="mv-game__nav-ct">
								<h2 class="mv-game__nav-ct-ttl">Võ Hiệp Truyền Kỳ 2 Mobile</h2>
								<p>
									Võ Hiệp Truyền Kỳ 2 Mobile là game MMORPG Kiếm Hiệp do 3CGAME phát triển, mang trở lại huyền thoại vang bóng một thời với diện mạo đồ họa mới và lối chơi đặc sắc
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__nav-img">
								<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
							</div>
							<div class="mv-game__nav-ct">
								<h2 class="mv-game__nav-ct-ttl">Võ Hiệp Truyền Kỳ 2 Mobile</h2>
								<p>
									Võ Hiệp Truyền Kỳ 2 Mobile là game MMORPG Kiếm Hiệp do 3CGAME phát triển, mang trở lại huyền thoại vang bóng một thời với diện mạo đồ họa mới và lối chơi đặc sắc
								</p>
							</div>
						</div>
					</div>
				</div>
				<div thumbsSlider="" class="mv-game__for swiper mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="mv-game__for-img">
								<img src="<%= RELATIVE_PATH %>img/top/menu-icon.png" alt="3CGAME">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__for-img">
								<img src="<%= RELATIVE_PATH %>img/top/menu-icon.png" alt="3CGAME">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__for-img">
								<img src="<%= RELATIVE_PATH %>img/top/menu-icon.png" alt="3CGAME">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="mv-game__for-img">
								<img src="<%= RELATIVE_PATH %>img/top/menu-icon.png" alt="3CGAME">
							</div>
						</div>
					</div>
				</div>
			</div>
			<h3 class="game-ttl">Tất cả games</h3>
			<ul class="game-list">
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ<br> 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
				<li class="game-list__item">
					<div class="game-list__img">
						<img src="<%= RELATIVE_PATH %>img/game/banner-02.jpg" alt="3CGAME">
					</div>
					<div class="game-list__ct">
						<h3 class="game-list__ct-ttl">
							<img src="<%= RELATIVE_PATH %>img/game/menu-icon.png" alt="3CGAME">
							Võ Hiệp Truyền Kỳ 2 Mobile
						</h3>
						<div class="game-list__option">
							<ul class="game-list__sns">
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/tiktok.png" alt="tiktok"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/facebook.png" alt="facebook"></a></li>
								<li><a href=""><img src="<%= RELATIVE_PATH %>img/common/youtube.png" alt="youtube"></a></li>
							</ul>
							<a href="" class="c-btn__01">Chơi ngay</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
</main>
