<section class="sec-news">
	<div class="inner">
		<div class="news-block">
			<div class="news-block__first news-block__first--page">
				<a href="" class="news-block__first-box">
					<div class="news-block__first-img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-block__first-ct">
						<span class="news-block__first-ct-status">sự kiện</span>
						<h3 class="news-block__first-ct-ttl">
							CHÍNH THỨC RA MẮT MÁY CHỦ MỚI S8 NGỌA HỔ
							VÕ HIỆP TRUYỀN KỲ 2 MOBILE
						</h3>
					</div>
				</a>
			</div>
			<ul class="news-block__list pc">
				<li class="news-block__list-item">
					<a href="">
						<div class="news-block__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
						</div>
						<h3 class="news-block__list-ttl">
							CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
						</h3>
					</a>
				</li>
				<li class="news-block__list-item">
					<a href="">
						<div class="news-block__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
						</div>
						<h3 class="news-block__list-ttl">
							CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
						</h3>
					</a>
				</li>
				<li class="news-block__list-item">
					<a href="">
						<div class="news-block__list-img">
							<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
						</div>
						<h3 class="news-block__list-ttl">
							CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
						</h3>
					</a>
				</li>
			</ul>
		</div>
		<div class="news-search">
			<input type="text" class="form-control" placeholder="Nhập nội dung để tìm kiếm">
			<button type="submit" class="news-search__btn"><img src="<%= RELATIVE_PATH %>img/common/search.png" alt="search"></button>
		</div>
		<div class="news-show">
			<ul class="news-show__menu">
				<li><a href="" class="active">Tin tức</a></li>
				<li><a href="">Sự kiện</a></li>
				<li><a href="">Hướng dẫn</a></li>
				<li><a href="">Giải đấu</a></li>
			</ul>
			<div class="news-show__option">
				<span class="news-show__option-ttl">Sắp xếp theo</span>
				<div class="news-show__option-fill">
					<span>Tin mới nhất</span>
					<ul>
						<li><a href="">Tin mới nhất</a></li>
						<li><a href="">Tin cũ nhất</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="news-list">
			<li class="news-list__item">
				<a href="">
					<div class="news-list__img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-list__ct">
						<h3 class="news-list__ct-ttl">MỞ GIAI ĐOẠN 4 GIỚI HẠN CẤP ĐỘ 85 MÁY CHỦ S8 NGỌA HỔ  VÕ HIỆP TRUYỀN KỲ 2 MOBILE</h3>
						<p>
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
						</p>
						<time>18/04/2025</time>
						<span class="view-more">Đọc thêm</span>
					</div>
				</a>
			</li>
			<li class="news-list__item">
				<a href="">
					<div class="news-list__img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-list__ct">
						<h3 class="news-list__ct-ttl">MỞ GIAI ĐOẠN 4 GIỚI HẠN CẤP ĐỘ 85 MÁY CHỦ S8 NGỌA HỔ  VÕ HIỆP TRUYỀN KỲ 2 MOBILE</h3>
						<p>
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
						</p>
						<time>18/04/2025</time>
						<span class="view-more">Đọc thêm</span>
					</div>
				</a>
			</li>
			<li class="news-list__item">
				<a href="">
					<div class="news-list__img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-list__ct">
						<h3 class="news-list__ct-ttl">MỞ GIAI ĐOẠN 4 GIỚI HẠN CẤP ĐỘ 85 MÁY CHỦ S8 NGỌA HỔ  VÕ HIỆP TRUYỀN KỲ 2 MOBILE</h3>
						<p>
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
						</p>
						<time>18/04/2025</time>
						<span class="view-more">Đọc thêm</span>
					</div>
				</a>
			</li>
			<li class="news-list__item">
				<a href="">
					<div class="news-list__img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-list__ct">
						<h3 class="news-list__ct-ttl">MỞ GIAI ĐOẠN 4 GIỚI HẠN CẤP ĐỘ 85 MÁY CHỦ S8 NGỌA HỔ  VÕ HIỆP TRUYỀN KỲ 2 MOBILE</h3>
						<p>
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
						</p>
						<time>18/04/2025</time>
						<span class="view-more">Đọc thêm</span>
					</div>
				</a>
			</li>
			<li class="news-list__item">
				<a href="">
					<div class="news-list__img">
						<img src="<%= RELATIVE_PATH %>img/news/news.jpg" alt="3CGAME">
					</div>
					<div class="news-list__ct">
						<h3 class="news-list__ct-ttl">MỞ GIAI ĐOẠN 4 GIỚI HẠN CẤP ĐỘ 85 MÁY CHỦ S8 NGỌA HỔ  VÕ HIỆP TRUYỀN KỲ 2 MOBILE</h3>
						<p>
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
							Theo đúng như lộ trình đã công bố trước đó, sau quãng thời gian tích lũy và chờ đợi chính thức giai đoạn 4 giới hạn cấp độ 85 của máy chủ S8 Ngọa Hổ được khai mở, đánh dấu một bước chuyển mình mới trên hành trình chinh phục giang hồ !!!
						</p>
						<time>18/04/2025</time>
						<span class="view-more">Đọc thêm</span>
					</div>
				</a>
			</li>
		</ul>
		<ul class="pagination">
			<li>
				<a href="" class="pagination-prev disabled ">
					<img src="<%= RELATIVE_PATH %>img/common/prev02.png" alt="prev">
				</a>
			</li>
			<li><a href="" class="active">01</a></li>
			<li><a href="">02</a></li>
			<li><a href="">03</a></li>
			<li><a href="">04</a></li>
			<li><a href="">05</a></li>
			<li><a href="">06</a></li>
			<li><a href="">07</a></li>
			<li>
				<a href="" class="pagination-next ">
					<img src="<%= RELATIVE_PATH %>img/common/next02.png" alt="next">
				</a>
			</li>
		</ul>
	</div>
</section>