<main id="page-<%= pageData.template %>">
	<section class="sec-news">
		<div class="inner">
			<div class="news-detail">
				<div class="news-article c-txt__basic">
					<h1>
						MỪNG SINH NHẬT VNGGAMES CLUB<br class="pc"> TUỔI MỚI RỘN RÀNG, KHAO NGÀN QUÀ TẶNG
					</h1>
					<time>
						18/04/2025
					</time>
					<p>
						Từ ngày 14/11/2025, VNGGames Club mang đến chuỗi hoạt động sinh nhật và quà tặng hấp dẫn dành riêng cho cộng đồng game thủ, bao gồm tính năng mới “Lật thẻ nhận quà”, minigame “Mật Mã Game Thủ”, cùng hàng ngàn voucher độc quyền từ các thương hiệu đối tác.
					</p>
					<img src="<%= RELATIVE_PATH %>img/news/detail.jpg" alt="3CGAME">
					<p>
						 VNGGames Club là hệ thống được tạo ra nhằm mang đến cho tất cả người dùng của VNGGames cơ hội tận hưởng trải nghiệm tất cả các trò chơi, đồng thời mang đến hàng loạt phần quà cùng ưu đãi hấp dẫn khác thông qua Hệ Thống Nhận Quà - Nhiệm Vụ.
					</p>
					<p>
						Tháng 11 này, VNGGames Club chính thức bước sang tuổi mới, đánh dấu hành trình gắn bó và phát triển cùng hàng triệu game thủ Việt Nam. Để tri ân sự đồng hành đó, VNGGames Club mang đến một chuỗi sự kiện mừng sinh nhật bùng nổ, kết hợp giữa giải trí, ưu đãi và trải nghiệm độc quyền chỉ có trong hệ sinh thái VNGGames tại <a href="https://vnggamesclub.onelink.me/gcqr/VNGG" target="_blank">https://vnggamesclub.onelink.me/gcqr/VNGG</a>
					</p>
					<p>
						1.Điểm qua một vài tính năng nổi bật trong sự kiện sinh nhật:
					</p>
					<p>
						Lật thẻ nhận quà<br>
						Game thủ có thể tham gia mỗi ngày để lật thẻ may mắn và nhận quà, với hàng ngàn phần thưởng độc quyền gồm voucher giá trị lớn.
					</p>
					<p>
						Hợp tác cùng các thương hiệu hàng đầu<br>
						VNGGames Club kết hợp với SaigonSwagger, Zalopay, Vexere, Grab và FPT Play - mang đến hệ sinh thái ưu đãi đa dịch vụ, giúp game thủ vừa chơi game vừa tận hưởng những tiện ích thực tế trong cuộc sống hằng ngày. Một vài ưu đãi dành riêng cho các thành viên VNGGames Club có thể kể đến như:<br>
						· Cơ hội nhận voucher giảm nạp 100% tối đa 500K và giảm 50% tối đa 10K khi nạp game qua Zalopay
					</p>
				</div>
				<div class="news-sidebar">
					<h3 class="news-sidebar__ttl">Tin mới nhất</h3>
					<ul class="news-block__list">
						<li class="news-block__list-item">
							<a href="">
								<div class="news-block__list-img">
									<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
								</div>
								<h3 class="news-block__list-ttl">
									CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
								</h3>
							</a>
						</li>
						<li class="news-block__list-item">
							<a href="">
								<div class="news-block__list-img">
									<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
								</div>
								<h3 class="news-block__list-ttl">
									CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
								</h3>
							</a>
						</li>
						<li class="news-block__list-item">
							<a href="">
								<div class="news-block__list-img">
									<img src="<%= RELATIVE_PATH %>img/top/img-01.jpg" alt="3CGAME">
								</div>
								<h3 class="news-block__list-ttl">
									CHÍNH THỨC OPEN BETA VÀO 19H NGÀY 26/07/2025
								</h3>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>
