<main id="page-<%= pageData.template %>">
	<section class="support-content">
		<div class="inner inner--small">
			<h2 class="c-ttl__05 c-fc--orange ">Yêu cầu hỗ trợ của bạn</h2>
			<div class="support-search">
				<input type="text" class="form-control" placeholder="Tìm kiếm">
				<button type="button" class="support-search__btn">
					<img src="<%= RELATIVE_PATH %>img/common/search02.png" alt="img">
				</button>
			</div>
			<div class="support-heading">
				<h3 class="c-ttl__04 mbsp-20">Bạn đang gặp vấn đề <br class="sp">cần hỗ trợ?</h3>
				<a href="" class="c-btn__01">Tạo ticket</a>
			</div>
			<ul class="support-fill">
				<li><a href="" class="active">Tất cả</a></li>
				<li><a href="">Đang xử lý</a></li>
				<li><a href="">Chờ người dùng phản hồi</a></li>
				<li><a href="">Đã giải quyết</a></li>
				<li><a href="">Đã đóng</a></li>
			</ul>
			<div class="c-txt__basic c-fc--gray c-al--c mbpc-50 mbsp-50">
				<p>
					Bạn chưa có yêu cầu nào
				</p>
			</div>
			<ul class="support-member c-txt__basic">
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status">Đang xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
				<li class="support-member__item">
					<div class="support-member__box open-popup-ticket">
						<div class="support-member__ct">
							<h4 class="support-member__ct-ttl">
								Lỗi đăng nhập tài khoản
							</h4>
							<ul>
								<li>#10231</li>
								<li>Võ Hiệp Truyền Kỳ 2 Mobile</li>
							</ul>
						</div>
						<div class="support-member__note">
							<span class="support-member__note-status c-fc--orange">Đã xử lý</span>
							<time>20/04/2026 • 10:42</time>
						</div>
					</div>
				</li>
			</ul>
			<div class="popup popup-ticket">
				<div class="popup-bg close-popup"></div>
				<div class="popup-ct popup-ct--ticket c-txt__basic">
					<div class="popup-ct__close close-popup">
						<img src="<%= RELATIVE_PATH %>img/common/close.png" alt="close">
					</div>
					<h3 class="popup-ct__ttl c-fc--orange">
						Chi tiết ticket
					</h3>
					<div class="popup-ct__ticket">
						<h4 class="popup-ct__ticket-ttl">Lỗi đăng nhập tài khoản</h4>
						<span class="popup-ct__ticket-note">Mã ticket: #10231</span>
						<div class="popup-ct__ticket-show">
							<p>
								Mã ticket: #10231 <br>
								Sản phẩm/Game: Võ Hiệp Truyền Kỳ 2 Mobile <br>
								Trạng thái: Đang xử lý <br>
								Thời gian gửi: 20/04/2026 • 10:42 <br>
								Mức độ ưu tiên: Trung bình<br>
								 Người phụ trách: Bộ phận CSKH 3C Game
							</p>
							<p>
								<strong>Mô tả chi tiết vấn đề:</strong>
							</p>
							<p>
								Tôi đang gặp lỗi không thể đăng nhập vào tài khoản game Võ Hiệp Truyền Kỳ 2 Mobile.<br>
								Khi mở game và nhập thông tin đăng nhập bằng tài khoản 0868100296, hệ thống không cho truy cập vào game. Sau khi bấm đăng nhập, màn hình bị đứng lại hoặc tự quay về màn hình đăng nhập ban đầu.<br>
								Tôi đã thử kiểm tra lại kết nối mạng, thoát game và mở lại ứng dụng nhiều lần nhưng vẫn không thể đăng nhập được. Tài khoản này trước đó vẫn sử dụng bình thường, lỗi bắt đầu xuất hiện vào khoảng 10:30 ngày 20/04/2026.<br>
								Nhờ bộ phận hỗ trợ kiểm tra giúp tài khoản của tôi có đang bị lỗi đăng nhập, lỗi xác thực, lỗi server hoặc bị khóa tạm thời hay không.
							</p>
						</div>
						<div class="popup-ct__ticket-sub">
							<button class="c-btn__02 c-btn__02--dark">Hủy</button>
							<button class="c-btn__02 close-popup">Xác nhận đóng</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<%- include('common/_contact'); %>
	<%- include('common/_popup-game'); %>
</main>