<main id="page-<%= pageData.template %>">
	<section class="support-content">
		<div class="inner">
			<h2 class="c-ttl__02 c-fc--orange c-al--c mbpc-10 mbsp-10">Tất cả game của chúng tôi</h2>
			<div class="c-al--c c-txt__basic mbpc-50 mbsp-30">
				<p>
					Chọn trò chơi của bạn để gửi yêu cầu hỗ trợ
				</p>
			</div>
			<ul class="game-list">
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li><li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
				<li class="game-list__item">
					<a href="#">
						<div class="game-list__img-bg">
							<img src="<%= RELATIVE_PATH %>img/card_center/img-bg.png" alt="3CGAME">
						</div>
						<div class="game-list__wp">
							<div class="game-list__img-thumb">
								<img src="<%= RELATIVE_PATH %>img/card_center/img-thumb.jpg" alt="3CGAME">
							</div>
							<p class="game-list__title">Võ Hiệp Truyền Kỳ 2 Mobile</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<%- include('common/_contact'); %>
</main>